.my_card {
    // width: 100%;
    height: 100%;

    .poster {
        width: 100%;
    }

    .default_img {
        background-color: rgb(31, 31, 31);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .layover {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 0.75rem;

    }

    .star {
        color: gold;
    }

    &:hover .layover {
        display: flex;
    }
}