@import './variables.scss';

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: overlay;
}

html::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 1rem 1rem rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
}

#app {
    background-color: $--dark;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #FFF;
}

li,
ul,
menu {
    list-style: none;
}