@import './variables.scss';

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    overflow-y: overlay;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 1rem 1rem rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 1rem 1rem rgba(255, 255, 255, 1);
}

#app {
    background-color: $--dark;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #FFF;
}

li,
ul,
menu {
    list-style: none;
}

.burger {
    margin-left: 0.5rem;
    padding: 0.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px solid rgb(125, 125, 125);
    border-radius: 0.5rem;
    background-color: rgb(41, 41, 41);
    cursor: pointer;
}


.hidden-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 3.5rem;
    background-color: rgba(0, 0, 0);
    z-index: 999;
    width: 0;
    transition: width 500ms ease-in-out;

    &.visible {
        width: 100%;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.5rem;
        }
    }

}

.layover-menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    height: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: height 500ms ease-in-out;

    &.visible {
        height: 100%;
    }
}