header {
    padding: 0.5rem 1rem;

    @media (min-width:992px) {
        padding: 1rem 3rem;
    }

    .logo {
        cursor: pointer;
        width: 60%;

        @media (min-width:576px) {
            width: 30%;
        }

        img {
            max-width: 100%;
        }

        h1 {
            color: $--red;
            font-weight: bold;
            line-height: 1;

            .fs_max {
                font-size: 2rem;
            }

            .fs_hi {
                font-size: 1.8rem;
            }

            .fs_mid {
                font-size: 1.6rem;
            }

            .fs_min {
                font-size: 1.4rem;
            }
        }

        @media (min-width:992px) {
            h1 {
                font-size: 3rem;
            }
        }
    }

    .glass {
        font-size: 2rem;
        cursor: pointer;
    }

    .searching {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        height: 3rem;

        .glass-container,
        input {
            background-color: $--dark;
            border: 1px solid #FFF;
            z-index: 501;
            padding: 1rem;
        }

        .layover {
            position: absolute;
            // for testing
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 500;
        }

        .glass-container {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            border-right: none;
            display: flex;
            justify-content: center;
            align-items: center;

            .glass {
                font-size: 1.25rem;

                @media (min-width:768px) {
                    & {
                        font-size: 2rem;
                    }
                }
            }
        }

        input {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            border-left: none;
            color: #FFF;
            font-size: 75%;


            @media (min-width:768px) {
                & {
                    font-size: 1rem;
                }
            }


            &:focus-visible {
                outline: none;
            }
        }
    }
}